@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Keren</h1>
    <p>Learna keren sssabout aasss <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Hallo ini keren</a>.</p>
</div>
